<div class="row justify-content-center">
  <div class="col-md-8">
  
        <%= form_with(model: comment) do |form| %>
        <% if comment.errors.any? %>
          <div id="error_explanation" class="alert alert-warning alert-dismissible fade show" role="alert">
            <h3>Oops!</h3>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <ul>
              <% comment.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="shadow p-4 bg-white rounded-3 ">
        <legend>
        <% if page == 'edit' %>
          Edit comment
        <% else %>
          New comment
        <% end %>
        </legend>
        <div class="form-floating" style="height: 125px;">
          <%= form.text_area :content, class:"form-control form-control-lg p-1 h-100" %>
        </div>

        <div class="field">
          <%= form.hidden_field :user_id, value: current_user.id %>
        </div>

        <div class="field">
          <%= form.hidden_field :post_id, value: @post_id %>
        </div>
        
        <div class="actions d-flex flex-row-reverse mt-3">
          <% if page == 'edit' %>
          <%= form.submit "Update", class:"btn btn-primary" %>
        <% else %>
          <%= form.submit "Comment", class:"btn btn-primary" %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

