<div class="row">
  <div class="col-md-4"><!--User Overview-->
    <h2 class="d-flex fw-bold px-5 flex-row justify-content-center align-items-center"><%= @user.first_name %> <%= @user.last_name %></h2>
      <div class="image d-flex flex-column justify-content-center align-items-center">
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, height:"200px", class:"rounded-circle") %>
        <% else %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZYRo0nQdHum-G5HlyiHSiVYrXlyCQnaX3lA&usqp=CAU" style="height: 200px;">
        <% end %>
        <span class="id"><%= @user.email %></span>
        <h6 class=" d-flex mt-2"><%= link_to 'Edit Profile', edit_user_path(@user) %></h6>
      </div>
  </div>
  <div class="col-md-8"><!--Recent posts and comments-->
    <h5 class="mb-3">Recent posts</h5>
    <% @user_posts.reverse_each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
    <h5 class="m-3">Recent comments</h5>
    <% @user_comments.reverse_each do |comment| %>
      <div class="card mt-3">
        <div class="d-flex justify-content-between py-2 px-3">
          <%= render 'comments/comment', comment: comment %>
        </div>
        <%= find_post_for_comment(comment.post_id) do |post| %>
          <% post %>
          <% link_to 'Show original post', show_post_path(post) %>
          <% link_to "Show post", controller: "posts", action: "show", id: post %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>