<div class="row">
  <div class="col-md-4"><!--User Overview-->
    <h2 class="d-flex fw-bold flex-row justify-content-center align-items-center"><%= @user.first_name %> <%= @user.last_name %></h2>
      <div class="image d-flex flex-column justify-content-center align-items-center">
        <%= big_avatar_for(@user.id) %>
        <span class="id"><%= @user.email %></span>
        <h6 class=" d-flex mt-2"><%= link_to 'Edit Profile', edit_user_path(@user) %></h6>
      </div>
  </div>
  <div class="col-md-8"><!--Recent posts and comments-->
    <h5 class="mb-3">Recent posts</h5>
    <% @user_posts.reverse_each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
    <h5 class="my-3">Recent comments</h5>
    <% @user_comments.reverse_each do |comment| %>
      <% post = find_post_for_comment(comment.post_id) %>
      <div class="card mt-3">
        <small class="pt-2 px-3">
          <%= link_to post_path(post.id), class:"text-muted text-decoration-none" do %>
            <span><i class="bi bi-reply-fill"> </i>Replying to <%= find_user_name(post.user_id) %></span>
          <% end %>
        </small>
        <div class="d-flex justify-content-between py-2 px-3">
          <%= render 'comments/comment', comment: comment %>
        </div>
      </div>
    <% end %>
  </div>
</div>