
<div class="container w-100 h-100 m-0" style="min-width: 400px;">
  <div class="row">
    <div class="bg-light border rounded-3 p-4 pt-3 m-3 d-flex justify-content-between">
      <div class="col-3">
        <div class="w-100 m-0 p-0 rounded-3">
          <%= avatar_for(@user.id) %>
        </div>

        <div>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        </div>

        <div>
          <span>
            <%= @user.email %>
          </span>
        </div>

      
        <% if current_user %>
        <% if current_user.id == @user.id %>
        <div class="d-flex justify-content-center">
          <%= link_to 'Edit My Profile', edit_user_path(@user), class:"btn btn-lg btn-primary" %>
        </div>
        <% end %>
        <% end %>
        
      </div>
      
      <div class="col-8">
        

        <div class="">
          <h4><%= @user.first_name %>'s Posts:</h4>
          <%= render 'home/posts_with_comments' %>
        <div>
        
      </div>
      
    </div>
  </div>
</div>

