<div class="row">
  <!--User Info-->
  <div class="col-md-4 mb-3">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <%= image_tag(avatar_for(@user.id), class:"rounded-circle", alt:"avatar", style:"object-fit:cover; height:200px; width:200px;") %>
      <h3 class="mt-2"><%= @user.first_name %> <%= @user.last_name %></h3>
      <small class="text-muted"><%= @user.email %></small>
      <small class="text-muted mt-1">Joined <%= @user.created_at.strftime("%b %Y") %></small>
      <% if current_user %>
      <% if current_user.id == @user.id %>
        <div class="row">
          <%= link_to 'Edit Profile', edit_user_path(@user), class:"btn btn-sm btn-primary mt-2" %>
          <%= link_to "Sign Out", current_user_session, method: :delete, class:"btn btn-sm btn-outline-primary mt-2" %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <!--Recent posts and comments-->
  <div class="col-md-8">
    <h5 class="mb-3">Recent posts</h5>
      <% if @posts.length == 0 %>
        <small class="text-muted px-3">No posts<small>
      <% else %>
        <% @posts.reverse_each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>
      <% end %>
    <h5 class="my-3">Recent comments</h5>
      <% if @comments.length == 0 %>
        <small class="text-muted px-3">No comments<small>
      <% else %>
        <% @comments.reverse_each do |comment| %>
          <% post = find_post_for_comment(comment.post_id) %>
          <div class="card mt-3">
            <small class="pt-2 px-3">
              <%= link_to post_path(post.id), class:"text-primary text-decoration-none" do %>
                <span><i class="bi bi-reply-fill"> </i>Replying to <%= find_user_name(post.user_id) %></span>
              <% end %>
            </small>
            <div class="d-flex justify-content-between py-2 px-3">
              <%= render 'comments/comment', comment: comment %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
