<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="container">
      <div class="">
        <div class="bg-light border rounded-3 p-5 m-5">
          <legend>New Post</legend>
          <div class="form-floating mb-3">
            <%= form.text_area :content, class:"form-control p-1" %>
          </div>

          <div class="field">
            <%= form.hidden_field :likes, value: 0 %>
          </div>

          <div class="field">
            <%= form.hidden_field :user_id, value: current_user.id %>
          </div>

          <%= form.file_field :image, class: "form-control mt-3" %><br>

          <div class="actions">
            <%= form.submit "Post", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
