<div class="card mt-3">
  <div class="d-flex justify-content-between py-2 px-3">
    <div class="d-flex flex-row align-items-center">
      <%= link_to user_path(post.user_id) do %>
        <%= avatar_for(post.user_id) %>
      <% end %>
      <div class="d-flex flex-column ml-2">
        <%= link_to user_path(post.user_id), class:"fw-bold ms-2 text-decoration-none link-dark" do %>
          <span><%= find_user_name(post.user_id) %></span>
        <% end %>
        <small class="fw-light text-muted ms-2"><%= display_post_time(post.created_at) %></small>
      </div>
    </div>
    <div class="dropdown d-flex flex-row align-items-center pe-2">
      <a href="#" class="d-block link-dark text-decoration-none fs-5" id="dropdownUser2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
      </a>
      <ul class="dropdown-menu text-small">
        <li><%= link_to 'View', post, class:"dropdown-item" %></li>
        <% if current_user %>
          <li><%= link_to 'Add Comment', new_comment_path(post_id: post.id), class:"dropdown-item" %></li>
        <% if current_user.id == post.user_id %>
          <li><%= link_to 'Edit', edit_post_path(post), class:"dropdown-item" %></li>
          <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item link-danger" %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= image_tag(post.image, class:"card-img pb-2") if post.image.attached? %>
  <div class="card-body pt-0">
    <p class="card-text"><%= post.content %></p>
    <!--Post buttons-->
    <div class="d-flex flex-row align-items-center pt-1">
      <small class="pe-1"><%= link_to 'View', post, class:"text-muted" %></small>
      <% if current_user %>
      <small class="pe-1"><%= link_to 'Add Comment', new_comment_path(post_id: post.id), class:"text-muted" %></small>
      <% if current_user.id == post.user_id %>
        <small class="pe-1"><%= link_to 'Edit', edit_post_path(post), class:"text-muted" %></small>
        <small class="pe-1"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-muted" %></small>
      <% end %>
      <% end %>
    </div>
    <hr>
    <!--Post like button/comment count-->
    <div class="d-flex justify-content-between align-items-center">
      <% if current_user %>
        <%= link_to like_path(post_id: post.id), method: :post, class:"btn btn-primary btn-sm" do %>
          <i class="bi bi-hand-thumbs-up"></i> <%= post.likes %> likes
        <% end %>
      <% else %>
        <%= link_to new_user_path, class:"btn btn-primary btn-sm" do %>
          <i class="bi bi-hand-thumbs-up"></i> <%= post.likes %> likes
        <% end %>
      <% end %>
      <span class="text-muted"><%= post.comments.length %> comments</span>
    </div>
    <!--Post comments-->
    <% post.comments.reverse_each do |comment| %>
      <hr>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
</div>