<div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_for @user_session, url: user_sessions_url do |f| %>
        <% if @user_session.errors.any? %>
          <div id="error_explanation" class="alert alert-warning alert-dismissible fade show" role="alert">
            <h3>Oops!</h3>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <ul>
              <% @user_session.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="shadow p-4 my-5 bg-white rounded-3 ">
        <div class="mb-3">
          <%= f.email_field :email, class:"form-control", placeholder:"Email address" %>
        </div>
        <div class="mb-3">
          <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
        </div>
        <div class="d-grid">
        <%= f.submit "Login", class:"btn btn-primary btn-block fw-bold" %>
        </div>
        <div class="text-center">
          <hr>
          <small>New to Metabook? <%= link_to "Create an account", new_user_path, class:"text-decoration-none" %></small>
        </div>
      </div>
    </div>
  </div>
<% end %>


